
#container {
    background-image: url(image/target001.png);
    background-size: 100% 100%;

    position: relative;
    height: 96vh;  
    padding: 10px;
    background-color: #0000ff;

}

#conteudo {
    background-image: url(image/target001.png);
    background-size: 100% 100%;

    position: absolute;
    height: 200px;
    width: 400px;
    background-color: #ffff00;
    
    left: 50%;
    top: 50%;
    
    translate: -50% -50%;


}