@charset "UTHF-8";
*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif serif    


}

body {
    background-image: linear-gradient(to right, #0B666A,#35A29F);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1c827190 ;
    width: 600px;
    padding: 10px;
    margin:auto
}

h1{
    color: #061a53 ;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color: #071952ac;
}


p{
    text-align: justify;
}
